@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
:root{
--dark-purple: #231123ff;
--murrey: #82204aff;
--dark-cyan: #558c8cff;
--flax: #e8db7dff;
--alice-blue: #eff7ffff;
}
body {
    background-color: var(--dark-cyan);
    color: var(--alice-blue);
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-purple);
    box-shadow: -3px 19px 64px -17px rgba(0,0,0,0.52);
    color: white;
    padding: 10px 20px;
}

.nomeLoja{
    cursor: pointer;
    color: var(--dark-cyan);
    font-weight: bold;

    
  -webkit-user-select:none;  
  -moz-user-select:none;     
  -ms-user-select:none;      
  user-select:none;  
}

.header h1 {
    margin: 0;
}

.header a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: var(--flax);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 500px;
}

h1 {
    text-align: center;
}

.input-cadastro {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-cadastro[type="file"] {
    background-color: transparent;
}

.btn-cadastrar {
    width: 100%;
    background-color: var(--dark-cyan);
    color: var(--alice-blue);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.btn-cadastrar:hover {
    background-color: var(--murrey);
}

.image-preview {
    margin-left: 20px;
    text-align: center;
}

.image-preview h2 {
    margin-top: 0;
}

#preview {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border: 2px solid var(--dark-cyan);
}

.carousel {
    width: 80%;
    margin: 20px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-height: calc(30vh - 10px);
    overflow-x: hidden;
    overflow-y: hidden;
}

.carousel .prev-arrow,
.carousel .next-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    background-color: var(--murrey);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
}

.carousel .prev-arrow {
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.carousel .next-arrow {
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.carousel .carousel-inner {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;

    margin: 0 50px;
}

.carousel-inner > * {
    flex: 0 0 auto;
    margin-right: 10px;
}

.prev-arrow,
.next-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.product-card {
    border: 1px solid var(--dark-purple);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    max-width: 90%;
    background-color: var(--flax);
}

.product-card h3 {
    margin-top: 0;
    color: var(--dark-purple);
}

.product-card p {
    margin: 10px 0;
}

.description {
    font-style: italic;
}

.price {
    font-weight: bold;
    color: var(--murrey);
}

.discount {
    color: red;
}

.buttonCadastro {
    border: none;
    border-radius: 2%;
    background: none;
    cursor: pointer;
    padding: 10px 15px;
    background-color: var(--flax);

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 40px;
    background-color: var(--dark-purple);
    box-shadow: 0px -8px 56px -5px rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    min-height: 4.5vh ;
}

footer h4 {
    margin: 0;
}

.btnExcluir{
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    
    transition: 0.3s;
    padding: 10px 15px;
    background-color: var(--dark-cyan);
}

.btnExcluir:hover {
    background-color: red;
    border-radius: 30px;
}