@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-1: #201e45;
    --color-2: #404267;
    --color-3: #e4e4ef;
    --color-4: #f07b7b;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-style: unset;
    text-decoration: none;
}
body{
    background-color: var(--color-2);
    min-width:100vw;
    min-height:100vw;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.sectionCenter{
    background-color: var(--color-1);
    min-width: 60%;
    box-shadow: 5px 5px 23px 1px #201e45;
    display: flex;
    flex-direction: column;

}
.divmsgs{
    margin:10px;
    border-radius: 30px;
    padding: 5px 20px;
    width: 70%;
    background-color: var(--color-3);
}
.inputcontainer{
    display: flex;
    width: 100%;
    padding: auto;
    align-items: center;
    justify-content: center;
}
.input{
    width: 80%;
    border-radius: 28px;
    padding: 10px 15px 10px 15px;
    border-style: unset;
    margin-right: 20px;
}


.btn {
    background: #404267;
    background-image: -webkit-linear-gradient(top, #404267, #f07b7b);
    background-image: -moz-linear-gradient(top, #404267, #f07b7b);
    background-image: -ms-linear-gradient(top, #404267, #f07b7b);
    background-image: -o-linear-gradient(top, #404267, #f07b7b);
    background-image: linear-gradient(to bottom, #404267, #f07b7b);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
  }
  
  .btn:hover {
    background: #f07b7b;
    text-decoration: none;
    cursor: pointer;
  }